window#waybar {
    background-color: @crust;
    color: @text;
}

#tray menu {
    font-family: Adwaita Sans, sans-serif;
}

#workspaces button {
    font-family: Adwaita Sans, sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 0 8px;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: @text;
}

#workspaces button:hover {
    background-color: @base;
}

#workspaces button.active {
    font-weight: 800;
    color: @blue;
    background-color: @base;
}

#workspaces button.focused {
    font-weight: 800;
    color: @blue;
    background-color: @base;
    /*color: @base;*/
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    font-family: Adwaita Sans, sans-serif;
    font-weight: 800;
    color: @peach;
}

#window {
    font-family: Adwaita Sans, sans-serif;
    padding: 0 0 0 16px;
}

#clock,
#custom-media,
#tray,
#custom-power,
#custom-speaker,
#custom-colors,
#custom-microphone {
    font-family: Adwaita Sans, sans-serif;
    padding: 0 24px 0 0;
    color: @text;
}

#custom-speaker.muted,
#custom-microphone.muted {
    opacity: 0.4;
}

#custom-speaker,
#custom-microphone {
    min-width: 56px;
}
