* {
    font-size: 14px;
}


window#waybar {
    background-color: @base;
    color: @text;
}

#tray menu {
    font-family: Roboto, sans-serif;
}

button {
    min-width: 22px;
    font-family: Fira Code, monospace;
    font-weight: normal;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
}

#workspaces button:hover {
    background-color: @crust;
}

#workspaces button.active {
    font-weight: bold;
    background-color: @blue;
    color: @base;
}

#workspaces button.focused {
    font-weight: bold;
    background-color: @blue;
    color: @base;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    font-family: Fira Code, monospace;
    color: @peach
}

#window {
    font-family: Fira Code, monospace;
    padding: 0 0 0 16px;
}


#clock,
#custom-media,
#tray,
#custom-power,
#custom-speaker,
#custom-colors,
#custom-microphone {
    font-family: Fira Code, monospace;
    padding: 0 24px 0 0;
    color: @text;
}

#custom-speaker.muted,
#custom-microphone.muted {
    opacity: 0.4;
}
