@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Fira Code, monospace;
    font-size: 14px;
}

window#waybar {
    background-color: @base;
    color: @text;
}


/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/



button {
    /* Use box-shadow instead of border so the text isn't offset */
    font-weight: normal;
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}


#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
}

#workspaces button:hover {
    background: @crust;
}

#workspaces button.active {
    font-weight: bold;
    background-color: @blue;
    color: @base;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#window {
    padding: 0 0 0 12px;
}

#hypr,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-power,
#mpd {
    padding: 0 24px 0 0;
    color: @text;
}
